<!DOCTYPE html>
<html lang="it" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sorteggio</title>
  <link rel="stylesheet" href="static/styles/home.css">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Dona la tua ala di riserva a...</h1>
      <img src="static/images/Choice.png">
      <p>Seleziona il tuo nome (per non sorteggiarti da solo)</p>
      <select class="selezione" id="selezione"></select>
      <br>
      <button id="pesca">Sorteggia</button>
      <p id="risultato"></p>
    </div>
  </div>
  <script src="static/scripts/home.js"></script>
</body>

</html>
