<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sorteggio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/styles/home.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>Pesca della fortuna</h1>
        <button type="button" name="button" id="Pesca">Sorteggia Nome</button>
        <p id="risultato">Hai pescato Mimmo</p>
      </div>

    </div>
  <script src="static/scripts/home.js"></script>
  </body>
</html>
