.container {
  width: 100% auto;
  margin: auto;
  display: block;
  margin-top: 1%;
  padding: 1%;
  background-color: white;
}

.header {
  width: 90% auto;
  font-size: 180%;
  padding: 5%;
  border: 30px solid #2dcd50;
  background-color: #30a149;
  text-align: center;

}

h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 250%;
}

p {
  font-size: 70%;
}

img {
  display: block;
  margin-left: 0px;
  max-block-size: 160px;
  height: auto;
  float: left;
}

#pesca {
  margin-left: 1%;
}

